.wrapper 
    margin-top: 30px !important

.title.header
    text-align: center
    margin-top: 30px
    margin-bottom: 60px

.todo
    margin-bottom: 40px

.list
    margin-bottom: 40px

.outer-item
    align-items: center

.inner-item
    display: flex
    justify-content: space-between

.destroy
    cursor: pointer
