<div class="wrapper ui segment top attached">
    <h1 class="ui header title">Todo</h1>
    <div class="todo ui container grid action left icon input">
    <input type="text"  [(ngModel)]="Todo.name" (keyup.enter)="addTodo()">
    <button class="ui button" (click)="addTodo()">Submit</button>
    </div>

    <div class="list ui one column grid segments">

        <div *ngIf="items.length == 0" class="ui attached ui segment warning message">Videogame time!</div>

        <div class="outer-item attached ui segment" *ngFor="let item of items">
            <div class="inner-item ui container center aligned">
            <input type="checkbox" name="{{item.name}}" id="{{item.name}}" [(ngModel)]="item.complete" (change)="countCompleted()" />
            <label for="{{item.name}}">{{item.name}}</label>
            <div class="destroy" (click)="removeTodo(item.id)">X</div>
            </div>
        </div> 

    </div>

    <div *ngIf="items.length > 0" class="clear-wrapper ui">
        <button (click)="clearAll()" class="red ui  button">clear</button>
        <div *ngIf="completed > 0" class="ui red left pointing label">{{completed}}</div>
    </div>
</div>